  #main-content.hidden {
    display: none;
  }

  #permission_overlay.hidden {
    display: none;
  }
  
  .permission_overlay {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }