  #main-content.hidden {
    display: none;
  }

  #permission_overlay.hidden {
    display: none;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay h2 {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }